body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.controls button{
  width: 100px;
  padding: 8px 16px;
  font-size: 25px;;
}